<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    {{>header}}
    <p>Created by: {{name}}</p>

    <form>
        <input placeholder="location">
        <button type="submit">Search </button>
    </form>
    <p id="message-1"></p>
    <p id="message-2"></p>

    {{>footer}}

    <script type="text/javascript" src="../../public/js/app.js">  </script>
</body>

</html>