<div class="footer" style="background-color:#000dff; padding: 1rem;">
    <h3>Footer of {{title}} page</h3>
    <div style="display: flex; flex-wrap: wrap;">
        <ul>
            <li>
                <h2>Brand</h2>
            </li>
            <li>
                <h3>Express Js</h3>
            </li>
        </ul>
        <ul>
            <li>
                <h2>Links</h2>
            </li>
            <li> <a href="/">Home</a></li>
            <li> <a href="/about">About</a></li>
            <li> <a href="/help">Help</a></li>
        </ul>
        <ul style="display:block">
            <li>
                <h2>Contact</h2>
            </li>
            <li>
                <p>02 Rissik Street, Braamfontein</p>
            </li>
            <li>
                <p>Gauteng Johannesburg </p>
            </li>
            <li>
                <p>South Africa</p>
            </li>
            <li>
                <p>2001</p>
            </li>
        </ul>
    </div>
</div>

<style>
    .footer {
        position: absolute;
        bottom: 0;
        width: 650px;
        display: block;
        justify-content: center;
        align-items: center;
        color: white;
        margin-top: 3rem;
    }

    footer h3 {
        text-align: center;
    }

    footer div {
        justify-content: center;
    }

    .footer div ul {
        margin-right: 2rem;
    }

    .footer div ul li a {
        color: white;
        font-size: 1rem;
    }

    .footer div ul li p {
        color: white;
        font-size: 1rem;
    }
</style>