body{
    color: #333333;
    font-family: arial,sans-serif;
    max-width: 650px;
    max-height: fit-content;
    margin: 0 auto;
    padding: 0 16px;

}

header{
    margin-top: 1rem;
    border-top: 1rem;
    margin-bottom: 48px;
}

h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}

header a{
    color: #888888;
    margin-right: 1rem;
    text-decoration: none;
}
form{

    margin: 2rem 0;
}